<section id="manage-views">
    <div class="container">
        <header class="section-intro">
            <h2>Projects</h2>
            <div class="actions">
                <i id="refresh-project-visual-dependencies" class='bx bx-repeat' data-tippy-content="Refresh project dependencies" data-tippy-placement="bottom" ></i>
            </div>
        </header>
        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h6>Create Project</h6>
                        <div class="header-arrow">
                            <i class='bx bx-chevron-up arrow-up'></i>
                            <i class='bx bx-chevron-down arrow-down'></i>
                        </div>
                    </div>
                    <form class="card-body row" id="add-visual-form" >
                        <div class="form-group col-md-6">
                            <label class="col-form-label">name</label>
                            <input type="text" name="" id="project-name" value="new project" placeholder="Insert the project name" class="form-control" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label">Path</label>
                            <input type="text" name="" id="project-path" value="/home/pero/projects/WTM/GUI/" placeholder="Insert the project path" class="form-control" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label">Views Path</label>
                            <input type="text" name="" id="project-views" value="" placeholder="Insert the project views path" class="form-control">
                            <small>Empty for default one</small>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label">Visuals Path</label>
                            <input type="text" name="" id="project-visuals" value="" placeholder="Insert the project visuals path" class="form-control">
                            <small>Empty for default one</small>
                        </div>
                        <div class="form-group col-md-12">
                            <button id="create-project" class="btn btn-primary">Create Project</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h6> Import project scripts/styles</h6>
                        <div class="header-arrow">
                            <i class='bx bx-chevron-up arrow-up'></i>
                            <i class='bx bx-chevron-down arrow-down'></i>
                        </div>
                    </div>
                    <div class="card-body row"  >
                        <div class="col-md-6">
                            <h5>Scripts</h5>
                             <div id="[WTM-HTML-!EXEC!-FOLDER-TREE-PROJECT-SCRIPTS]" data-action="!EXEC!" data-type="HTML" data-name="FOLDER-TREE-PROJECT-SCRIPTS" class="mt-2 project-scripts" ><%-include ("/home/pero/projects/WTM/GUI/WTM-VISUALS/folderTree/ejs/render.ejs", {TEMPLATE_PATH: process.env.PWD})-%>
</div>
                        </div>
                        <div class="col-md-6">
                            <h5>Styles</h5>
                             <div id="[WTM-HTML-!EXEC!-FOLDER-TREE-PROJECT-STYLES]" data-action="!EXEC!" data-type="HTML" data-name="FOLDER-TREE-PROJECT-STYLES" class="mt-2 project-styles" ><%-include ("/home/pero/projects/WTM/GUI/WTM-VISUALS/folderTree/ejs/render.ejs", {TEMPLATE_PATH: process.env.PWD})-%>
</div>
                        </div>
                        <button id="add-project-assets" class="btn btn-primary">Add selected files</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>