<section id="manage-visuals">
    <div class="container">
        <header class="section-intro">
            <h2 data-tippy-content="hello" data-tippy-placement="bottom">Visuals</h2>
            <div class="actions">
                <i id="create-non-existing-visuals" class='bx bxs-plus-circle' data-tippy-content="Create non existing visuals of the current project type" data-tippy-placement="bottom" ></i>
                <i id="render-visuals" class='bx bx-edit' data-tippy-content="Render Visuals" data-tippy-placement="bottom" ></i>
                <i id="render-selected-visual" class='bx bx-message-square-edit' data-tippy-content="Render Selected Visuals" data-tippy-placement="bottom" ></i>
                <i id="import-visual-assets" class='bx bx-git-merge' data-tippy-content="Detect and import visual styles/scripts" data-tippy-placement="bottom" ></i>
                <i id="import-lib-dep" class='bx bx-layer-plus' data-tippy-content="Add the selected lib as visual dependency" data-tippy-placement="bottom" ></i>
            </div>
        </header>
        
        <!-- <div class="actions">
            [WTM-PLACEHOLDER-VS-ASSETS-IMAGES]
            <br>
            [WTM-PLACEHOLDER-VS-ASSETS-JS]
            <br>
            [WTM-PLACEHOLDER-VS-ASSETS-CSS]
            <br>
            [WTM-PLACEHOLDER-PJ-ASSETS]
            <br>
            [WTM-PLACEHOLDER-PJ-PATH]
            <br>
            [WTM-PLACEHOLDER-PJ-ASSETS-CSS]
            <br>
            [WTM-PLACEHOLDER-PJ-ASSETS-JS]
            <br>
            [WTM-PLACEHOLDER-PJ-ASSETS-IMAGES]
        </div> -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h6>Create Visual</h6>
                        <div class="header-arrow">
                            <i class='bx bx-chevron-up arrow-up'></i>
                            <i class='bx bx-chevron-down arrow-down'></i>
                        </div>
                    </div>
                    <form class="card-body row" id="add-visual-form" >
                        <div class="form-group col-md-6">
                            <label class="col-form-label">name</label>
                            <input class="visual-name form-control" type="text" placeholder="Insert the visual name"  required>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label">Author</label>
                            <input class="visual-author form-control" type="text" placeholder="Insert the visual name"  >
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label">Author Url</label>
                            <input class="visual-author-url form-control" type="text" placeholder="Insert the visual name"  >
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label">Github Repo</label>
                            <input class="visual-github-repo form-control" type="text" placeholder="Insert the visual name"  >
                        </div>
                        <div class="form-group col-md-12">
                            <input type="checkbox" class="import-all-lib">
                            <label class="col-form-label ">Always automatically import all the visual styles/scripts</label>
                        </div>
                        <div class="form-group col-md-12">
                            <button class="create-visual btn btn-primary">Create Visual</button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h6>Import visual scripts/styles</h6>
                        <div class="header-arrow">
                            <i class='bx bx-chevron-up arrow-up'></i>
                            <i class='bx bx-chevron-down arrow-down'></i>
                        </div>
                    </div>
                    <div class="card-body row"  >
                        <div class="col-md-6">
                            <h5>Scripts</h5>
                            [WTM-HTML-!EXEC!-FOLDER-TREE-VISUALS-SCRIPTS  visualTarget="folderTree"  parentClasses="visuals-scripts" ]
                        </div>
                        <div class="col-md-6">
                            <h5>Styles</h5>
                            [WTM-HTML-!EXEC!-FOLDER-TREE-VISUALS-STYLES  visualTarget="folderTree"  parentClasses="visuals-styles" ]
                        </div>
                        
                        <button id="add-folder-tree-selected-files" class="btn btn-primary">Add selected files</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h6>Add cdn to selected lib</h6>
                        <div class="header-arrow">
                            <i class='bx bx-chevron-up arrow-up'></i>
                            <i class='bx bx-chevron-down arrow-down'></i>
                        </div>
                    </div>
                    <form class="card-body row" id="add-project-lib-cdn-form-vs">
                        <div class="form-group col-md-6">
                            <label class="col-form-label">Cdn url</label>
                            <input class="pj-lib-cdn form-control"  type="text" name="" value="" placeholder="Insert path to a style" required>
                            <small>select the lib where to add the cdn in the left menu</small>
                        </div>
                        <div class="form-group col-md-6">
                            <button class="btn btn-primary">Add </button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" id="update-visual">
                        <h6>Update Selected Visual</h6>
                        <i class='bx bx-window-open' ></i>
                    </div>
                </div>
            </div>
        </div>

        

    </div>
</section>