<select class="form-control" data-container="true" >
    <option 
    data-to-populate="true" 
    data-name="" 
    data-extension="" 
    data-path=""
    data-visualsPath=""
    data-viewsPath=""
    data-parentPath=""
    data-block="" ></option>
</select>
