<div data-skeleton="">
    <ul class="folder-path" data-container="true">
        <header data-header >
            <img id="folder-close" src="/home/pero/projects/WTM/GUI/WTM-VISUALS/folderTree/ejs/assets/img/folder.svg" alt="">
            <img id="folder-open" src="/home/pero/projects/WTM/GUI/WTM-VISUALS/folderTree/ejs/assets/img/folder-open.svg" alt="">
            <span data-header-text  >Folder Namr</span>
        </header>
        <li class="folder-file" data-to-populate="true" data-path=""> 
            <input type="checkbox">
            <label for="" data-child-text> </label>
        </li>
    </ul>
</div>