<nav id="navbar" class="open">
    <ul class="nav-group">
        <h5 class="group-title"> Manage </h5>
        <li class="nav-elem"> <a href="#">Visuals</a> </li>
        <li class="nav-elem"> <a href="#">Views</a> </li>
        <li class="nav-elem"> <a href="#">Projects</a> </li>
    </ul>
    <ul class="nav-group">
        <h5 class="group-title"> Views </h5>
        <li class="nav-select"> 
            <small>View Name</small>
            [WTM-HTML-!EXEC!-VIEWS-SELECT visualTarget="nav-select"  ]
        </li>
        <li class="nav-select"> 
            <small>View Block</small>
            [WTM-HTML-!EXEC!-VIEW-BLOCKS-SELECT visualTarget="nav-select"  ]
        </li>
    </ul>
    <ul class="nav-group">
        <h5 class="group-title"> Visuals </h5>
        <li class="nav-select"> 
            <small>Visual Name</small>
            [WTM-HTML-!EXEC!-VISUALS-SELECT visualTarget="nav-select"  ]
        </li>
    </ul>
    <ul class="nav-group">
        <h5 class="group-title"> Project Type </h5>
        <li class="nav-select"> 
            <small>Project Type</small>
            [WTM-HTML-!EXEC!-PROJECTS-TYPES-SELECT visualTarget="nav-select"  ]
        </li>
    </ul>
    <ul class="nav-group">
        <h5 class="group-title"> Projects </h5>
        <li class="nav-select"> 
            <small>Project Name</small>
            [WTM-HTML-!EXEC!-PROJECTS-SELECT visualTarget="nav-select"  ]
        </li>
    </ul>
</nav>