<div data-skeleton="">
    <div class="drag-drop" data-container="true" data-block="" data-path="">
    
        <header class="title ignore-drag" data-header="true">
            <h3 class="ignore-drag" data-header-text>Title</h3>
            <div class="icons">
                <i class='bx bx-move ignore-drag drag'></i>
            </div>
        </header>
    
        <div class="item" data-to-populate="true">
            <span class="text" data-path="" data-order="" data-libName="">Draggable Element One</span>
            <i class='bx bx-move drag'></i>
        </div>
    
    </div>
</div>