<div data-skeleton="">
    <div class="drag-drop" data-container="true" data-block="" data-path="">
    
        <header class="title ignore-drag" data-header="true">
            <h3 class="ignore-drag" data-header-text>Title</h3>
            <div class="icons">
                <i class='bx bxs-hand-up ignore-drag drag'></i>
                <i class='bx bxs-down-arrow down' ></i>
                <i class='bx bxs-up-arrow up' ></i>
            </div>
        </header>
    
        <div class="item" data-to-populate="true">
            <span class="text" data-path="">Draggable Element One</span>
            <i class='bx bxs-hand-up'></i>
        </div>
    
    </div>
</div>