<section id="manage-views"> 
    <div class="container">
        <header class="section-intro">
            <h2>Views</h2>
        </header>
        
        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h6>Reorganize view elements</h6>
                        <div class="header-arrow">
                            <i class='bx bx-chevron-up arrow-up'></i>
                            <i class='bx bx-chevron-down arrow-down'></i>
                        </div>
                    </div>
                    <div class="card-body row"  >
                         <div id="[WTM-HTML-!EXEC!-DRAG-DROP-VIEW]" data-action="!EXEC!" data-type="HTML" data-name="DRAG-DROP-VIEW" class="col-md-12 mb-3" ><%-include ("/home/pero/projects/WTM/GUI/WTM-VISUALS/drag-drop/ejs/render.ejs", {TEMPLATE_PATH: process.env.PWD})-%>
</div>
                        <div class="col-md-12 ">
                            <button id="save-view-drag-drop" class="btn btn-primary">Save Drag Drop</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h6>Create View</h6>
                        <div class="header-arrow">
                            <i class='bx bx-chevron-up arrow-up'></i>
                            <i class='bx bx-chevron-down arrow-down'></i>
                        </div>
                    </div>
                    <div class="card-body row"  >
                        <div class="col-md-12">
                            <label class="col-form-label">Name</label>
                            <input type="text" name="" id="view-name" value="new" placeholder="Insert the view name" class="form-control">
                        </div>
                        <div class="col-md-12 ">
                            <button id="create-view" class="btn btn-primary">Create View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h6>Add view block</h6>
                        <div class="header-arrow">
                            <i class='bx bx-chevron-up arrow-up'></i>
                            <i class='bx bx-chevron-down arrow-down'></i>
                        </div>
                    </div>
                    <div class="card-body row"  >
                        <div class="col-md-4">
                            <label class="col-form-label">Block Name</label>
                            <input type="text" id="block-name" placeholder="block name" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label class="col-form-label">Block Open</label>
                            <input type="text" id="block-open" placeholder="block open" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label class="col-form-label">Block Close</label>
                            <input type="text" id="block-close" placeholder="block close" class="form-control">
                        </div>
                        <div class="col-md-12">
                            <button id="add-block" class="btn btn-primary">Add Block</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h6>Include File into view</h6>
                        <div class="header-arrow">
                            <i class='bx bx-chevron-up arrow-up'></i>
                            <i class='bx bx-chevron-down arrow-down'></i>
                        </div>
                    </div>
                    <div class="card-body row"  >
                        <div class="col-md-6">
                            <label class="col-form-label">Path</label>
                            <input type="text" id="path-to-include" placeholder="path to include" class="form-control">
                        </div>
                        <div class="col-md-12">
                            <button id="include-path" class="btn btn-primary">Include path</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h6>Include selected visual into view</h6>
                        <div class="header-arrow">
                            <i class='bx bx-chevron-up arrow-up'></i>
                            <i class='bx bx-chevron-down arrow-down'></i>
                        </div>
                    </div>
                    <div class="card-body row"  >
                        <div class="col-md-12">
                            <h4 class="text-danger">Include selected visual</h4>
                            <button id="include-visual" class="btn btn-primary">Include visual</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
